.App {
  text-align: center;
  background-color: #AFD4C0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.content {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;

}

.HouseImage{
  width: 150px;
}

.stepbutton {
  background-color: #3b5249;
  color: white;
  margin-right: 10px;
}

.AddCompleteButton{
  color: black;
  background-color: #8AEA92;
  font-size: 20px;
}

a {
  text-decoration: inherit;
}

h2 {
  margin: 0;
}

.landingPage{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DashboardPage{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  height: 70px;
  background-color: #519872;
  /* padding-left: 500px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding: 0;
}

.dashboard {
  text-align: center;
  background-color: #E5F4EC;
  width: 70%;
  margin: 0;
}

.singleProperty{
  background-color: #DEDEDE;
  margin: 20px;
}


